.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  & .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    & .am-list {
      width: 200px;
      padding: 0;
    }
  }
}

.am-drawer.am-drawer-left .am-drawer-draghandle {
  left: -10px;
}

.avatar {
  font-size: 30px;
  padding-top: 4px;

  & img{
    width: 36px;
    height: 36px;
    border-radius:18px
  }
}